#addc
{
	padding: 2%;
	background-color: black;
	color: white;
	text-align: center;
}
#block1
{

	border: 1px solid;
    padding: 10px;
   
   
}
#block1:hover
{
	 box-shadow: 5px 10px 10px 10px #888888;
}

#hlm
{
	display: none;
}
